@font-face {
    font-family: 'RocketRinder';
    src: url('../fonts/RocketRinder-yV5d.ttf') format('truetype');
}

body {
    background: #1e1e24;
}

#top-content {
    position: fixed;
    z-index: 1;
    height: 250px;
    background-color: #1E1E24;
    top: 0;
}

header {
    font-family: 'RocketRinder';
    color: #FF209F;
    text-align: center;
    width: 100vw;
    font-size: 4rem;
}

.total_display {
    font-family: 'RocketRinder';
    color: #FF209F;
    text-align: center;
    width: 100vw;
    font-size: 4rem;
}

#till_totals {
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 80vh;
    top: 250px;
    //column-gap: 10%;
}
    

.fv_total {
  font-family: 'Poppins';
  font-weight: 600;
  margin: 1rem;
  position: relative;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  //flex-direction: row;
  //justify-content: space-around;
}

.fv_total label {
  flex-grow: 1;
  //border: 1px solid #000;
  //border-radius: 5px 5px 0 0;
  font-size: 2rem;
  //position: relative;
  //top: 20%;
  //height:20%;
  background-color: red;
  display: flex;
    align-items: center;
  //  justify-content: center;
  background-color: #5C80BC;
  padding-left: 0.5rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.fv_total input {
  flex-grow: 2;
  width: 100%;
  height: 100%;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0rem;
  margin: 0;
  //padding-left: 20px;
  border: none;
  text-align: center;
  background: #FF6DC0;
  font-size: 4rem;
  maximum-scale: 1;
}

.fv_total input:focus {
  outline: 0;
}

.fv_total span {
  flex-grow: 1;
    //position: relative;
    //border: 1px solid #000;
    text-align: right;
    //height: 20%;
    //top: -20%;
    font-size: 2rem;
  background-color: red;
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E247;
}

